Code/
dconf/
discord/
Electron/
google-chrome/
spotify/
session/
simple-update-notifier/
go/
pulse/

baloofileinformationrc
dolphinrc
mimeapps.list
pavucontrol.ini
QtProject.conf
trashrc
user-dirs.dirs
user-dirs.locale