.music-widget {
    margin-left: 10px;
    margin-right: 10px;
}

.music-info {
    margin-left: 10px;
    margin-right: 10px;
}

.bar-music-btn {
    font-size: 30px;
    text-shadow: 
        0 0 2px rgba(255, 255, 255, 0.8),
        0 0 4px rgba(255, 255, 255, 0.6),
        0 0 8px rgba(255, 255, 255, 0.4),
        0 0 12px rgba(255, 255, 255, 0.2);
}

.music-controls {
    margin-right: 15px;
}