.time-box {
  margin-left: 15px;
  margin-right: 20px;
}

.bar-txt-larger {
  font-size: 15px;
  color: #ffffff;
}

.bar-txt-smaller {
  font-size: 12px;
  color: #ffffff;
}

.wifi-box {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.bluetooth-box {
  
  margin-left: 10px;
  margin-right: 10px;
}
.bluetooth-text-norm {
  margin-top: -5px;
  font-size: 25px;
  color: #ffffff;
}

.bluetooth-text-small {
  margin-top: 5px;
  margin-left: 3px;
  font-size: 10px;
  color: #ffffff;
}

.system-info {
  margin-right: 10px;
}

.bar-prog trough {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  min-width: 60px;
}

.bar-prog progress {
  border-radius: 4px;
}

progressbar.memory progress {
  background-color: #f38ba8;
  box-shadow: 
    0 0 1px rgba(243, 139, 168, 0.8),
    0 0 3px rgba(243, 139, 168, 0.6),
    0 0 6px rgba(243, 139, 168, 0.2),
    0 0 10px rgba(243, 139, 168, 0.1);
}

progressbar.gpu progress {
  background-color: #a6e3a1;
  box-shadow: 
    0 0 1px rgba(166, 227, 161, 0.8),
    0 0 3px rgba(166, 227, 161, 0.6),
    0 0 6px rgba(166, 227, 161, 0.2),
    0 0 10px rgba(166, 227, 161, 0.1);
}

progressbar.cpu progress {
  background-color: #e4eba0;
  box-shadow: 
    0 0 1px rgba(228, 235, 160, 0.8),
    0 0 3px rgba(228, 235, 160, 0.6),
    0 0 6px rgba(228, 235, 160, 0.2),
    0 0 10px rgba(228, 235, 160, 0.1);
}

.bar-resources-icon {
  margin-left: 1px;
  font-size: 12px;
  color: #ffffff;
  min-width: 20px;
}

.bar-resources-icon-gpu {
  margin-right: 1;
  font-size: 11px;
  color: #ffffff;
  min-width: 20px;
}

