.bar-pad-horiz {
  margin-right: 10px;
}

.bar-prog trough {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}

.bar-prog progress {
  border-radius: 4px;
}

progressbar.memory progress {
  background-color: #f38ba8;
  box-shadow: 
    0 0 1px rgba(243, 139, 168, 0.8),
    0 0 3px rgba(243, 139, 168, 0.6),
    0 0 6px rgba(243, 139, 168, 0.2),
    0 0 10px rgba(243, 139, 168, 0.1);
}

progressbar.gpu progress {
  background-color: #a6e3a1;
  box-shadow: 
    0 0 1px rgba(166, 227, 161, 0.8),
    0 0 3px rgba(166, 227, 161, 0.6),
    0 0 6px rgba(166, 227, 161, 0.2),
    0 0 10px rgba(166, 227, 161, 0.1);
}

progressbar.cpu progress {
  background-color: #e4eba0;
  box-shadow: 
    0 0 1px rgba(228, 235, 160, 0.8),
    0 0 3px rgba(228, 235, 160, 0.6),
    0 0 6px rgba(228, 235, 160, 0.2),
    0 0 10px rgba(228, 235, 160, 0.1);
}

.bar-resources-icon {
  margin-left: 1px;
  font-size: 12px;
  color: #ffffff;
  min-width: 20px;
}

.bar-resources-icon-gpu {
  margin-right: 1;
  font-size: 11px;
  color: #ffffff;
  min-width: 20px;
}

